# 项目工程文件
project/
C_O_D_lab4.gen/

# 暂时不需要的测试文件
test/func_test_v0.03/project_1.gen
test/func_test_v0.03/soft/
test/func_test_v0.03/cpu132_gettrace
test/func_test_v0.03/soc_axi_func
test/func_test_v0.03/soc_sram_func/run_vivado/mycpu_prj1/
test/func_test_v0.03/soc_sram_func/rtl/xilinx_ip/
test/perf_test_v0.01/
test/n4ddr/perf_test_v0.01/
test/n4ddr/func_test_v0.01/cpu132_gettrace/
test/n4ddr/func_test_v0.01/project_1.gen/
test/n4ddr/func_test_v0.01/soft/
test/n4ddr/func_test_v0.01/soc_sram_func/rtl/xilinx_ip/
test/n4ddr/func_test_v0.01/soc_sram_func/run_vivado/
new/

# ip核生成文件
mycolab_code/lab4_code_copy/ip/data_ram/data_ram_ooc.xdc
mycolab_code/lab4_code_copy/ip/data_ram/data_ram_sim_netlist.v
mycolab_code/lab4_code_copy/ip/data_ram/data_ram_sim_netlist.vhdl
mycolab_code/lab4_code_copy/ip/data_ram/data_ram_stub.v
mycolab_code/lab4_code_copy/ip/data_ram/data_ram_stub.vhdl
mycolab_code/lab4_code_copy/ip/data_ram/data_ram.dcp
mycolab_code/lab4_code_copy/ip/data_ram/data_ram.veo
mycolab_code/lab4_code_copy/ip/data_ram/data_ram.vho
mycolab_code/lab4_code_copy/ip/data_ram/data_ram.xml
mycolab_code/lab4_code_copy/ip/data_ram/summary.log
mycolab_code/lab4_code_copy/ip/data_ram/doc/blk_mem_gen_v8_4_changelog.txt
mycolab_code/lab4_code_copy/ip/data_ram/hdl/blk_mem_gen_v8_4_vhsyn_rfs.vhd
mycolab_code/lab4_code_copy/ip/data_ram/misc/blk_mem_gen_v8_4.vhd
mycolab_code/lab4_code_copy/ip/data_ram/sim/data_ram.v
mycolab_code/lab4_code_copy/ip/data_ram/simulation/blk_mem_gen_v8_4.v
mycolab_code/lab4_code_copy/ip/data_ram/synth/data_ram.vhd
mycolab_code/lab4_code_copy/ip/instruction_memory/instruction_memory.xci
mycolab_code/lab4_code_copy/ip/instruction_memory/instruction_memory.xci
